.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200;
    background-color: #fff;
    padding-bottom: 30px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}